p {
    /* text-align: center; */
    text-align: center; /* in english means left*/
    /* text-decoration: line-through; */
}

a {
    text-decoration: none;
}

#h1 {
    font-weight: normal;
}

#h2 {
    font-weight: bold;
}

#h3 {
    font-weight: lighter;
}