.navBar ul {
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    /* background-color: bisque; */
    display: inline;
}

.outer {
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center; /*for main axis*/
    align-items: center; /*for cross axis and is applied on container*/
}

.inner {
    height: 100px;
    width: 100px;
    background-color: coral;
    align-self: flex-start;
}